{
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "ecmaFeatures": {
    "modules": true,
    "jsx": true
  },
  "rules": {
    "strict": [2, "global"],
    "space-return-throw-case": 0,
    "no-console": 1,
    "no-unused-vars": 1
  }
}
