doctype html
html(lang="en")
  head
    title React App
    link(href="http://fonts.googleapis.com/css?family=Roboto:400,300,500" rel="stylesheet" type="text/css")
    link(href="build/app.css" rel="stylesheet" type="text/css")
  body
    #{html}
