doctype html
html(lang="en")
  head
    title React App
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    link(href="/node_modules/materialize-css/bin/materialize.css" rel="stylesheet" type="text/css")
    link(href="/build/app.css" rel="stylesheet" type="text/css")
  body
    #react-main-mount !{html}
    script(src="/build/app.js")
    script(src="https://code.jquery.com/jquery-2.1.1.min.js")
    script(src="/node_modules/materialize-css/bin/materialize.js")
